@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white antialiased;
    overscroll-behavior: none;
    /* Prevents bounce on mac */
  }
}

/* Ensure smooth font rendering */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}